
/*This file is optional and may be cactivated dynamically via admin/build/themes/settings/plaingrail
 * or activate it permanently via plaingral.info
 *
 */
/********************************Ad Unit Guidelines*******************************/
/*See http://www.iab.net/iab_products_and_industry_services/508676/508767/Ad_Unit*/

/*Advertisement as unordered list*/
.block  ul.adblock{
display:block;
padding:0;
text-align:center;
clear:both;
}
body.two-sidebars .block  ul.adblock{
margin:0 7px 15px;
}  
body.one-sidebar .block  ul.adblock{
margin:0 20px 15px;
}
.adblock{
}
.adblock img{
}
.adblock li{
background-image:none;
list-style:none;
float:left;
margin:1px 3px;
padding:1px;
}

#sidebar-left .adblock{
  margin:0 auto 20px
}
/*Horizontal*/
.ad180x150{/*Rectangle*/
width : 180px;
height : 150px;
}
.ad234x60{/*Half Banner*/
width : 234px;
height : 60px;
}
.ad300x250{/*Medium Rectangle*/
width : 300px;
height : 250px;
}
.ad468x60{/*Full Banner on header-banner region*/
width : 468px;
height : 60px;
}

.ad336x280{/*Large Rectangle*/
width : 336px;
height : 280px;
}

.ad300x100{/*3:1 Rectangle*/
width : 300px;
height : 100px;
}
.ad720x300{/*Pop-Under*/
width : 720px;
height : 300px;
}

.ad600x250{/*Wide Rectangle*/
width : 600px;
height : 250px;
}


/*Vertical*/
.ad120x240{/*Vertical Banner*/
width : 120px;
height : 240px;
}
.ad120x600{/*Skyscrapers*/
width : 120px;
height : 600px;
}
.ad160x600{/*Wide Skyscraper*/
width : 160px;
height : 600px;
}
.ad240x400{/*Vertical Rectangle*/
width : 240px;
height : 400px;
}
.ad300x600{/*Half Page Ad*/
width : 300px;
height : 600px;
}


/*Banners and Buttons*/
.ad88x31 {/*Micro Bar*/
width : 88px;
height : 31px;
}
.ad120x90{/*Button 1*/
width : 120px;
height : 90px;
}
.ad120x60{/*Button 2*/
width : 120px;
height : 60px;
}
.ad125x125 {/*Square Button*/
width : 125px;
height : 125px;
}

.ad250x250{/*Square Pop-Up*/
width : 250px;
height : 250px;
}



/*********************Universal Ad Package *******************************/
/*http://www.iab.net/iab_products_and_industry_services/508676/508767/UAP*/

.ad300x250{/*Medium Rectangle*/
width:300px;
height:250px
}
.ad180x150{/*Rectangle*/
width:180px;
height:150px
}
.ad160x600{/*Wide Skyscraper*/
width:160px;
height:600px
}
.ad728x90{/*Leaderboard*/
width:728px;
height:90px
}