
/*
 * grail OVERRIDES - Override every holy grail widths here
 * Rename this file from grail-overrides-rename.css to grail-overrides.css so 
 * it won't be overriden in the next upgrade.
 * Register it in your darkgrail.info to get permanent
 * or better activate it via admin/build/themes/settings/darkgrail to get dynamic on upgrades.
 *
 * See readme.txt for explanation
 * Only CSS that affects widths of main content area, sidebar-left and sidebar-right listed here
 *
 * This file overrides all defaults (layout.css) and devs (grail-devwidth.css),
 * the dynamic widths generated in template.php
 * via admin/build/themes/settings/darkgrail
 *
 */


/*Delete this line to activate and start your own custom overrides.
Add regular slash wildcards to all comments! See readme.txt for commented version.

#main-inner {
margin-left:-250px;
}
.farleft {
margin-left:-150px;
}

#content-inner {
margin:0 10px 0 400px;
}

#sidebar-left {
left:140px;
width:130px;
}

#sidebar-right {
left:520px;
width:230px;
}

body.one-sidebar #main-inner {
margin-left:-400px;
}

body.one-sidebar .farleft {
margin-left:0;
}

body.one-sidebar #content-inner {
margin:0 10px 20px 400px;
}

body.one-sidebar #sidebar-left, body.one-sidebar #sidebar-right  {
left:390px;
width:380px;
}
